.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  .notfound__title {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .notfound__message {
    font-size: 1.5rem;
    color: #777;
  }